/* Importa a fonte Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* Define a altura completa da viewport */
html, body {
  height: 100%;
  margin: 0;
  background: linear-gradient(to right, #000000, #004400);
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

/* Estilização do container principal */
.about-container {
  min-height: 150vh;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

/* Estilização do título "SOBRE NÓS" */
.about-title {
  font-size: 35px;
  color: rgba(255, 255, 255, 0.7);
  padding: 8px 20px;
  border: 2px solid rgba(100, 100, 100, 0.5);
  border-radius: 30px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  position: absolute;
  left: 43.5%; /* Centraliza horizontalmente */
  margin-top: 400px; /* Ajuste aqui para mover para baixo */
  margin-bottom: 0px;
}

.about-title:hover {
  color: #1d5f0f; /* Cor verde ao passar o mouse */
  background-color: white; /* Fundo branco ao passar o mouse */
  border-color: #1d5f0f; /* Muda a cor da borda para verde */
}

/* Estilização do conteúdo do texto abaixo */
.about-content {
  width: 90%;
  max-width: 600px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 30px;
  border: 2px solid rgba(100, 100, 100, 0.5);
  color: rgba(180, 180, 180, 0.5);
  text-align: left;
  margin-top: 250px; /* Ajuste aqui para mover todo o conteúdo para baixo */
}

.about-content h1 {
  font-size: 20px;
  margin-bottom: 10px;
  padding: 10px; /* Adiciona espaço interno */
  border: 2px solid rgba(100, 100, 100, 0.5); /* Adiciona borda ao título */
  border-radius: 5px; /* Arredondamento da borda do título */
}

.about-header {
  display: flex;
  align-items: center; /* Alinha verticalmente o ícone e o título */
  margin-bottom: 20px; /* Espaço abaixo do cabeçalho */
}

.content-header {
  display: flex;
  align-items: center; /* Alinha verticalmente o ícone e o texto */
  margin-bottom: 10px;
  position: relative;
  width: 100%; /* Garante que o container ocupe toda a largura */
  padding-left: 10px; /* Ajuste para controlar o espaçamento do texto */
  padding-right: 10px; /* Ajuste para controlar o espaçamento do texto */
  height: 40px;
}

.content-header::before {
  content: '';
  position: absolute;
  bottom: -5px; /* Ajuste a posição da linha */
  left: -20px; /* Empurra a linha para fora do container à esquerda */
  right: -20px; /* Empurra a linha para fora do container à direita */
  height: 2px; /* Aumenta a altura da linha para dar mais destaque */
  background-color: rgba(100, 100, 100, 0.5); /* Cor mais sólida para a linha */
}

.content-header h2 {
  font-size: 16px; /* Ajuste o tamanho da fonte para o valor desejado */
  margin: 0; /* Remove margens adicionais */
  padding-bottom: 10px; /* Espaço abaixo do título */
  display: block; /* Garante que o h2 seja exibido como um bloco */
  color: rgba(180, 180, 180, 0.5);
  transition: color 0.5s ease; /* Adiciona transição suave para a mudança de cor */
}

.content-header i {
  color: rgba(180, 180, 180, 0.5);
  font-size: 20px;
  margin-right: 10px; /* Espaço entre o ícone e o h2 */
  transform: translateY(-4px); /* Ajuste a quantidade para mover o ícone para cima */
  transition: color 0.5s ease; /* Adiciona transição suave para a mudança de cor */
}

/* Linha estilizada */
.line {
  height: 2px; /* Altura da linha */
  background-color: rgba(100, 100, 100, 0.5); /* Cor da linha */
  width: calc(100% + 40px); /* Para ocupar a largura total mais 40px */
  margin: 10px -20px; /* Espaçamento acima e abaixo da linha e margens negativas */
}

/* Efeitos de hover */
.about-content p,
.content-header h2,
.content-header i {
  transition: color 0.5s ease; /* Adiciona transição suave para a mudança de cor */
}

.about-content p:hover,
.content-header h2:hover,
.content-header i:hover {
  color: white; /* Muda a cor do texto para branco ao passar o mouse */
}

/* Muda a cor do ícone ao passar o mouse */
.content-header i:hover {
  color: white; /* Muda a cor do ícone para branco ao passar o mouse */
}

/* Estilo da lista de funcionalidades */
.functionalities-list {
  padding-left: 20px; /* Adiciona espaço à esquerda da lista */
  color: rgba(180, 180, 180, 0.5); /* Cor padrão dos itens da lista */
}

/* Estilo dos itens da lista */
.functionalities-list li {
  margin-bottom: 10px; /* Espaço entre os itens da lista */
  transition: color 0.5s ease; /* Transição suave para a mudança de cor */
}

/* Efeito de hover para os itens da lista */
.functionalities-list li:hover {
  color: white; /* Muda a cor para branco ao passar o mouse */
}