.button-container {
    display: flex; /* Torna o contêiner um flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    top: 0; /* Necessário para posicionamento central */
    left: 0; /* Necessário para posicionamento central */
    width: 100%; /* Garante que o contêiner ocupe toda a largura */
    height: 100%; /* Garante que o contêiner ocupe toda a altura */
    z-index: 1000; /* Garante que o botão fique acima de outros elementos */
}

.btn-custom {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3); /* Sombra leve */
    padding: 10px 20px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: white; /* Cor do texto */
    background-color: transparent; /* Fundo transparente */
    border: 2px solid white; /* Borda branca */
    border-radius: 30px; /* Borda arredondada */
    cursor: pointer; /* Muda o cursor para pointer */
    transition: all 0.3s ease-in-out; /* Suaviza a transição */
}

.btn-custom:hover {
    color: #1d5f0f; /* Cor verde ao passar o mouse */
    background-color: white; /* Fundo branco ao passar o mouse */
    border-color: #1d5f0f; /* Muda a cor da borda para verde */
}

.btn-custom i {
    transition: color 0.3s ease-in-out; /* Suaviza a transição da cor do ícone */
}

.btn-custom:hover i {
    color: #1d5f0f; /* Muda a cor do ícone para verde ao passar o mouse */
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
    .btn-custom {
        font-size: 1.2rem; /* Ajusta o tamanho da fonte */
        padding: 10px 20px; /* Mantém o padding */
    }
}

@media (max-width: 480px) {
    .btn-custom {
        font-size: 1rem; /* Ajusta o tamanho da fonte para telas pequenas */
        padding: 8px 16px; /* Reduz o padding */
    }
}