html, body {
    height: 100%;
    margin: 0;
}

.calc-container {
    min-height: 100vh; /* Altura mínima da viewport */
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
}
