.text-container {
    display: flex;
    flex-direction: column;
    
    text-align: center; /* Centraliza o texto */
    margin: 0;
    padding: 0;
}

.font_h1 {
    font-family: 'League Spartan', system-ui;
    font-weight: 1000;
    font-size: 4vw;
    color: #fff;
    margin-top: 5vw; /* Mantém a margem superior */
    margin-left: 17vw; /* Move o h1 para a esquerda */
}

@media (max-width: 768px) {
    .font_h1 {
        font-size: 40px;
        margin-left: 0; /* Remove a margem negativa em resoluções menores */
    }
}

@media (max-width: 576px) {
    .font_h1 {
        font-size: 30px;
        margin-left: 0; /* Garante que não haja margem negativa */
    }
}
