@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.text-container {
    display: flex;
    flex-direction: column;
    
    text-align: center; /* Centraliza o texto */
    margin: 0;
    padding: 0;
}

.font_h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 4vw;
    color: #fff;
    margin-top: 5vw; /* Mantém a margem superior */
    margin-left: 17vw; /* Move o h1 para a esquerda */
}

@media (max-width: 768px) {
    .font_h1 {
        font-size: 40px;
        margin-left: 0; /* Remove a margem negativa em resoluções menores */
    }
}

@media (max-width: 576px) {
    .font_h1 {
        font-size: 30px;
        margin-left: 0; /* Garante que não haja margem negativa */
    }
}
