@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap'); /* Importando a fonte Poppins */

.my-navbar .nav-link {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaçamento entre ícone e texto */
    color: #a7a7a7;
    font-size: 1.6rem; /* Aumentando o tamanho da fonte */
    font-family: 'Poppins', sans-serif; /* Nova fonte */
    font-weight: 700; /* Peso da fonte */
    transition: color 0.3s ease-in-out;
    margin-right: 4rem; /* Espaçamento maior entre os itens */
}

.my-navbar .nav-link:hover {
    color: white; /* Mantemos o hover */
}

.my-navbar .nav-link i {
    font-size: 1.4rem; /* Ajustando o tamanho do ícone */
    color: inherit;
    transition: transform 0.3s ease, color 0.3s ease;
}

.my-navbar .nav-link:hover i {
    color: #f4b400; /* Cor amarela no ícone ao passar o mouse */
    transform: scale(1.2); /* Animação de aumento no hover */
}

.github-icon {
    font-size: 3.5rem; /* Tamanho maior apenas para este ícone */
}

/* Reduzindo o espaçamento para dispositivos móveis */
@media (max-width: 991px) {
    .my-navbar .nav-link {
        margin-right: 0; /* Remove o espaçamento lateral no mobile */
        margin-bottom: 1rem; /* Adiciona espaçamento vertical no menu colapsado */
    }
}
