@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

.App {
  background-image: url('./img/home/fundo.png'); 
  background-size: cover;
  background-position: 70% center; /* Centraliza a imagem de fundo */
  background-repeat: no-repeat;
  color: white;
  margin: 0;
  padding: none;
  border: 1px solid rgb(0, 0, 0); 
}

/* Em telas menores (como celulares), diminui o deslocamento */
@media (max-width: 768px) {
  .navbar {
    transform: translateX(-10px); /* Menor deslocamento em telas menores */
  }
}
